<!DOCTYPE HTML>
<html>
  <head>
  </head>
  <body id ="home_page">
    <div class = "container">
    <div class="row">
    <div class="col-md-12">
      <h1 id = "index_logo" class = "text-center">Welcome to <br> MTAStatus</h1>
    </div>
    <div class="col-md-12">
    </div>
    <div class ="col-md-4">
    </div>
    <div class="col-md-2">
      <%= link_to '<button type="button" class="btn btn-success index-btn">Sign Up</button>'.html_safe, new_user_path %>
    </div>
    <div class="col-md-2">
    <%= link_to '<button type="button" class="btn btn-primary index-btn" id = "login-btn">Login</button>'.html_safe, login_path %>
    </div>
    <div class ="col-md-4">
    </div>
  </div><!---------------- end row --------------->

    </div><!---------- end container ---------------->
  <body>
</html>
