// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// USER INDEX PAGE STYLES

#home_page {
  background: url(ezgif.com-video-to-gif.gif) no-repeat center center fixed;
  background-size: cover;
}

#index_logo {
  margin-top: 150px;
  font-size: 150px;
  color: white;
}

#login-btn {
  margin-left: 40px;
}

.index-btn {
  font-size: 20px;
  padding: 10px 40px;
}

// USER SIGN-UP STYLES

.sign-up-block {
  color: white;
  background: rgba(0,0,0,0.5);
  padding-top: 50px;
  padding-bottom: 50px;
}

#signup-background {
  background: url(sign-up-img.jpg) no-repeat center center fixed;
  background-size: cover;
}

.sign-up-btn{
  margin-left: 18px;
  margin-top:  20px;
}

.signup-btn-padding {
  padding: 10px 20px;
}

// USER SHOW PAGE

.person-name{
  padding-bottom: 40px;
}

.button-column{
  margin-top: 40px;
}

.check-trains-btn{
  padding: 60px 40px;
  margin-bottom: 20px;
}

.update-profile-btn{
  padding: 60px 40px;
  margin-bottom: 20px;
}

.find-station-btn{
  padding: 60px 40px;
}

.delete-profile-btn{
  padding: 60px 40px;
}
